@mixin flexbox ($justify-content) {
    display: flex;
    justify-content:$justify-content;  
}

@mixin margin ($top,$bottom) {
    margin-top:$top;
    margin-bottom:$bottom;
}

@mixin position($width,$position){
    width:$width;
    position:$position;
}